<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Baring Faang</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static\assets\img\favicon.png" rel="icon">
    <link href="static\assets\img\apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">


    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="static\assets\vendor\aos\aos.css" rel="stylesheet">
    <link href="static\assets\vendor\bootstrap\css\bootstrap-grid.min.css" rel="stylesheet">
    <link href="static\assets\vendor\bootstrap-icons\bootstrap-icons.css" rel="stylesheet">
    <link href="static\assets\vendor\boxicons\css\boxicons.min.css" rel="stylesheet">
    <link href="static\assets\vendor\glightbox\css\glightbox.min.css" rel="stylesheet">
    <link href="static\assets\vendor\swiper\swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">


    <!-- =======================================================
  * Template Name: Day - v4.0.1
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
            </div>
        </div>
    </section>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="index.html"></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="index.html" class="logo"><img src="BaringFang\static\assets\img\faang image.jpg" alt=""
                    class="img-fluid"></a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">The Goal</a></li>
                    <li><a class="nav-link scrollto" href="#services">The Companies</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
                    <li class="dropdown"><a href="#"><span>More Options</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/map" target="_blank">Office Map</a></li>
                            <li class="dropdown"><a href="#"><span>Job Oppertunities</span> <i
                                        class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="https://www.amazon.jobs/en/" target="_blank">Amazon</a></li>
                                    <li><a href="https://www.apple.com/jobs/ca/" target="_blank">Apple</a></li>
                                    <li><a href="https://www.facebook.com/careers/jobs/" target="_blank">Facebook</a>
                                    </li>
                                    <li><a href="https://careers.google.com/jobs/results/?company=Google&company=Google%20Fiber&company=YouTube&employment_type=FULL_TIME&gclid=CjwKCAjwgOGCBhAlEiwA7FUXkgy60OG1JfoSlOLTvuRGa-zke9LBGVOsFRuTMR6rkgnZNIA8rGi7NRoCCp8QAvD_BwE&gclsrc=aw.ds&hl=en_US&jlo=en_US&location=Canada&q=&sort_by=relevance&src=Online%2FHouse%20Ads%2FBKWS"
                                            target="_blank">Google</a>
                                    </li>
                                    <li><a href="https://careers.microsoft.com/us/en" target="_blank">Microsoft</a></li>
                                    <li><a href="https://jobs.netflix.com/" target="_blank">Netflix</a></li>
                                </ul>
                            </li>
                            <li><a href="/fbproph">Facebook Prophet</a></li>
                            <li><a href="/dashboards">DashBoards</a></li>
                            <li><a href="/consensus">Consensus</a></li>
                            <li><a href="#">Extra Content</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
                <h3>Consensus</h3>
                <p>In the section we will conclude our findings</p><br>
                <h4>Revenue</h4>
                <p>As we saw with the predictions from Facebook Prophet all the companies follow an
                    exponential slope
                    with the exception of Apple who is following a Linear path. All companies excluding apple are
                    predicted to have a revenue increase between <b>8%</b> and <b>16%</b> by the end of 2021 and an
                    increase of <b>17%</b> to <b>21%</b> by Q4 2022. However Apple is to be expecting an astounding
                    <b>38%</b> in 2021 and <b>44%</b>
                </p><br>
                <h4>Employees</h4>
                <p>Surprising or not Surprising the pandemic had very little to no effect on the hiring or job
                    oppertunites
                    for
                    these companies. As a matter of fact as seen through the visulization, most companies actually have
                    more employees in 2020 than ever before with again the exclusion of apple where their year of most
                    employees is 2016</p><br>
                <p>In terms of office to employee ratio: (<b>*DISCLAIMER! THIS IS A GENERALIZATION, I HAVE TAKEN INTO
                        ACCOUNT THAT OFFICE SIZINGS ARE NOT ALL EQUAL BUT THIS IS FOR THE SAKE OF
                        SIMPLICITY* </b><em>Amazon:</em>Has around <b>5570</b> employees per it's <b>233</b> offices. It
                    is important to note
                    that this also includes delivery drivers and general workers. <em>Apple</em> Has an average of
                    <b>5654 </b>
                    employees amongest it's <b>26</b> offices, again this also includes the store workers with many
                    locations worldwide <em>Facebook</em>
                    carries about <b>2254</b> between it's <b>85</b> offices. it is important to note that unlike the
                    two stated above this is an entirely web based company. <em>Netflix</em> has <b>723</b> employees
                    among it's <b>13</b> offices.<em>Google</em> has <b>2768</b> employees amongest its <b>85</b>
                    offices. Lastly <em>Microsoft</em> carries around <b>921</b> employees amongest it's <b>177</b>
                    offices. Note again that this includes employees that work at Microsoft storefronts as well
                </p><br>
                <h4>Stocks</h4>
                <p>My main focus at looking on stocks was to see as to whether the pandemic effected the buying and
                    selling of these stocks. Suffice to say, there was absloutley no negative impact, and for most it
                    was actually a benefit. In the span of year <em>Amazon</em> rose <b>$1337.43 </b> or <b>72%</b>.
                    <em>Apple</em>
                    rose
                    <b>$58.08</b> or <b>80%</b>. <em>Facebook</em> rose <b>$62.86</b> or <b></b>. <em>Google</em> rose
                    <b>$421.70</b> or <b>32%</b>
                    <em>Microsoft</em> rose <b>$64.82</b> or <b>42%</b>. and <em>Netflix</em> rose <b>$191.17</b> or
                    <b>59%</b>.
                </p><br>
                <h4>Future Use</h4>
                <p> Continuing from where I have left off. I would like to perfect data structures so I will be able
                    to use my global map via Leafelt and Mapbox. I also would like include other companies that are now
                    under the <em>FAANG </em> umbrella (ie: Tesla, Shopify, Spotify). I would also like to include
                    popular items/services. this includes the number of subscriptions Netlfix has, The Number of daily
                    users
                    on Facebook, Snapchat, Instagram or Youtube </p>

                <a class="cta-btn" href="#">Any Questions?</a>
            </div>

        </div>-->
    </section>


    <!-- Vendor JS Files -->
    <script src="static\assets\vendor\aos\aos.js"></script>
    <script src="static\assets\vendor\bootstrap\js\bootstrap.bundle.min.js"></script>
    <script src="static\assets\vendor\glightbox\js\glightbox.min.js"></script>
    <script src="static\assets\vendor\isotope-layout\isotope.pkgd.min.js"></script>
    <script src="static\assets\vendor\php-email-form\validate.js"></script>
    <script src="static\assets\vendor\swiper\swiper-bundle.min.js"></script>

    <!-- Bootsrtap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

    <!-- MomentJS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

    <!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

    <!-- API key -->
    <script type="text/javascript" src="static/js/config.js"></script>

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <!-- Template Main JS File -->
    <script src="static\assets\js\main.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/employees.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>

</body>

</html>